.calculator
  width: 1140px
  max-width: 1200px
  height: 100px
  display: block
  margin: 0 auto
  padding: 30px
  display: flex
  justify-content: space-between
  // background-color: red
  &__half
    max-width: 555px
    // background-color: green

h2
  font-size: 26px

.capacity
  display: flex
  justify-content: flex-start
  &__half
    max-width: 39%
    &:last-child
      max-width: 43%
      margin-top: 10px
      margin-left: 25px

.radio-btn
  margin-left: 3px
  &:hover
    cursor: pointer

.input-radio
  margin-left: 0
   
.additional-options
  &__half
    display: inline-block
    vertical-align: top
    width: 50%
  .item
    display: flex
    margin: 5px 0
    p
      margin: 0
      display: inline-block

.table
  display: flex
  flex-wrap: wrap
  // flex-direction: column
  p 
    // flex-grow: 1
    max-width: 50%
    width: 50%
    margin: 5px 0
  .ul
    display: flex
    flex-wrap: wrap
    max-width: 100%
    width: 100%
    .sub-head
      margin: 5px 0
      max-width: 100%
      width: 100%
    .li
      margin: 5px 0
      max-width: 47%
      width: 47%  
      margin-left: 3%

.big-table
  border: 3px solid green

.dropdown-menu
  select
    min-width: 100px
    background-color: #fff
    &:hover
      cursor: pointer
