<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.min.css")
    title Document
  body
  
    .calculator
      .calculator__half
        h2.calculator__header Для расчета заполните поля:
        .capacity
          p.capacity__half Необходимая пиковая мощность (кВт)
          .capacity__half
            label.radio-btn
              input.input-radio(type="radio")
              | 100 
            label.radio-btn
              input.input-radio(type="radio")
              | 150 
            label.radio-btn
              input.input-radio(type="radio")
              | 200 
            label.radio-btn
              input.input-radio(type="radio")
              | 250 
            label.radio-btn
              input.input-radio(type="radio")
              | 300 
            label.radio-btn
              input.input-radio(type="radio")
              | 350 
            label.radio-btn
              input.input-radio(type="radio")
              | 400 
            label.radio-btn
              input.input-radio(type="radio")
              | 450 
            label.radio-btn
              input.input-radio(type="radio")
              | 500 
            label.radio-btn
              input.input-radio(type="radio")
              | 550 
            label.radio-btn
              input.input-radio(type="radio")
              | 600 
            label.radio-btn
              input.input-radio(type="radio")
              | 650 
            label.radio-btn
              input.input-radio(type="radio")
              | 700 
            label.radio-btn
              input.input-radio(type="radio")
              | 750 
            label.radio-btn
              input.input-radio(type="radio")
              | 800 
            label.radio-btn
              input.input-radio(type="radio")
              | 850 
            label.radio-btn
              input.input-radio(type="radio")
              | 900 
            label.radio-btn
              input.input-radio(type="radio")
              | 950 
            label.radio-btn
              input.input-radio(type="radio")
              | 1000
        p.current Ваша текущая стоимость газа за 1м
          span.under 3
          | : 
          input(type="text")
          |  руб.
        p.current Ваша текущая стоимость электроэнергии за 1 кВт: 
          input(type="text" value="5")
          |  руб.
        p.current Кол-во кВт выработанных в месяц: 
          input(type="text" value="72000")

        .dropdown-menu
          select.dropdown-select
        .picture
        .additional-options 
          p Дополнительные опции:
          .additional-options__half
            label.item
              i 
              input(type="checkbox")
              p Синхронизация с сетью и гпу [+
                span 415000 
                | руб.]
            label.item
              i 
              input(type="checkbox")
              p Контейнер [+
                span 700000 
                | руб.]
            label.item
              i 
              input(type="checkbox")
              p Пуско-наладочные работы [+
                span 150000 
                | руб.]
          .additional-options__half
            label.item
              i 
              input(type="checkbox")
              p Когенерация тепла [+
                span 1700000 
                | руб.]
            label.item
              i 
              input(type="checkbox")
              p Шумогашение [+
                span 125000 
                | руб.]
            label.item
              i 
              input(type="checkbox")
              p Основной контроллер ComAp [+
                span 380000 
                | руб.]
          p Стоимость: 
            span 3000000
            |  руб.



      .calculator__half
        h2.calculator__header Сравнение газовой электростанции и электросети:
        .gas
          h3 Топливо (газ)
          .table
              p Расход, нм
                span.under 3
                | /ч
              p.rate -
              p Потребление газа м
                span.under 3
                |  в мес
              p.per-month -
              p Итого затраты в месяц
              p.sum-month - 
          h3 Ежемесячное обслуживание
          .table.maintenance
              p Комплект свечей
              p 
                span - 
              p Комплект фильтров
              p 
                span -
              div.ul 
                .sub-head Масло
                p.li Объем масла (10W40) используемой станцией в работе
                p.li 
                  span -
                p.li В средем приодичность замены масла
                p.li 
                  span -
                p.li Долив масла
                p.li 
                  span - 
                p.li Средняя стоимость 1 литра масла
                p.li 
                  span -
                p.li Стоимость масла 
                p.li 
                  span -
              p Итого обслуживание в месяц
              p
                span.maintenance-price -
          .table.big-table
            p Стоимость за 1 кВт/ч
            span.spendForOne
              | - 
            p Сейчас вы тратите в месяц
            span.spendEachMonth
              | - 
            p Затраты при использовании ГПУ в месяц
            span.spendWithGpu  
              | -
            p Экономия в месяц
            span.luxury 
              | -
            p Срок окупаемости ГПУ
            span.paybackTime -

  script(src="js/script.js")